<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h4><%= @restaurant.name %>'s Reviews</h4>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> - <%= review.rating %></li>
  <% end %>
</ul>

<p><%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %></p>
<p><%= link_to "Back to Restaurants", restaurants_path %></p>